@import '~node_modules/modern-normalize/modern-normalize.css';

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.contacts-item {
  border: 2px solid fuchsia;
  width: 250px;
}

.modal-item {
  position: relative;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
